@import "tailwindcss";

@theme {
  /* Beige palette */
  --color-beige-50: #fdfcf9;
  --color-beige-100: #f9f6f0;
  --color-beige-200: #f2ebe0;
  --color-beige-300: #e8dcc8;
  --color-beige-400: #d4c4a8;
  /* Orange accent */
  --color-orange-brand: #e07c3c;
  --color-orange-light: #f0a066;
  --color-orange-dark: #c45d24;
}

:root {
  --beige-50: #fdfcf9;
  --beige-100: #f9f6f0;
  --beige-200: #f2ebe0;
  --beige-300: #e8dcc8;
  --beige-400: #d4c4a8;
  --orange-brand: #e07c3c;
  --orange-light: #f0a066;
  --orange-dark: #c45d24;
}

body {
  background-color: var(--color-beige-50);
  color: var(--color-stone-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--beige-400) transparent;
  }
}
